.delivery-calculator-form {
  display: flex;
  flex-direction: column;
  margin: 1rem;

  label {
    font-size: 0.9rem;
    margin-top: 1rem;
  }
  input {
    padding: 0.5rem 0.75rem;
    border: 2px solid #e6e6e6d7;
    border-radius: 0.5rem;
    &:hover {
      border: 2px solid #009de0;
    }
    &:focus {
      border: 2px solid #009de0;
      outline:none
    }
    transition: border 0.2s linear;
  }

  input.error {
    border: 2px solid red;
    &:focus {
      border: 2px solid #009de0;
    }
  }

  button {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    border: none;
    color: white;
    background-color: #009de0;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 3px black;
    }


  }

  .get-location-button {
    background-color: white;
    color: #009de0;
    margin-top: 1rem;
    &:hover {
      box-shadow: 0 0 3px #009de0;
    }
  }

  .error-message {
    color: red;
    font-size: 0.75rem;
    margin-left: 0.5rem;
  }
}
